{% extends "base.html" %}
{% block content %}
    <div class="form-about">
        <form action="{% url 'user:settings_user' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save">
        </form>
    </div>
{% endblock %}