{% extends "base.html" %}
{% load static %}
{% block for_staticfiles %}
<script>
    $(document).ready(function(){
        $("#subs_button").click(function(){
        var result = $.ajax({
            url:"{% url "subscriptions:ajax_subs" user_id=user.user.id%}",
            async: false
        }).responseText;
        $("#subs_button").attr("value", result);
    });
    });

</script>
{% endblock %}
{% block content %}
    <div class="avatar col-md-4">
        {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="Avatar"/>
        {% else %}
            <img src="" alt="Avatar"/>
        {% endif %}
        {% if current_user.username == user.user.username %}
            <form action="{% url 'user:load_avatar' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="OK">
            </form>
        {% else %}
{#            {% if subscribed %}#}
{#                <a href="{% url 'subscriptions:unsubscribe' user_id=user.user.id %}">Отписка</a>#}
{#            {% else %}#}
{#                <a href="{% url 'subscriptions:subscribe' user_id=user.user.id %}">Подписка</a>#}
{#            {% endif %}#}
            {% if subscribed %}
                <input id="subs_button" type="button" value="Отписка"/>
            {% else %}
                <input id="subs_button" type="button" value="Подписка"/>
            {% endif %}
        {% endif %}
        <a href="{% url 'subscriptions:user_subscriptions' user_id=user.user.id%}">Подписки</a>
    </div>
    <div class="info col-md-4">
        <div class="name">
            {% if user.user.first_name and user.user.last_name %}
                <h3>{{ user.user.first_name }} {{ user.user.last_name }}</h3>
            {% else %}
                <h3>{{ user.user.username}}</h3>
            {% endif %}

            {% if current_user.username == user.user.username %}
                <a href="{% url 'user:settings_user' %}">(ред.)</a>
            {% endif %}
        </div>
        <div class="about">
            {% if current_user == user.user %}
                <p>О себе(<a href="{% url 'user:settings' %}">ред.</a>): {{ user.profile.about }}</p>
            {% else %}
                <p>О себе: {{ user.profile.about }}</p>
            {% endif %}
        </div>
        <div class="targetlists">
            <h2>Списки целей:</h2><br/>
            {% for target_list in user.profile.target_lists %}
                <div class="targetlist">
                    <h5>{{ target_list.title }}</h5>
                    {% for target in target_list %}
                        <p class="done_{{ target.done }}"><a href="">target.title</a></p>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}