{% extends "base.html" %}
{% block content %}
    <div class="form">
        <form action="" method="post">
            <label for="list-title">Название</label><br/>
            <input type="text" id="list-title" name="list-title"><br/>
            <label for="list-description">Описание</label><br/>
            <textarea id="list-description" name="list-description"></textarea><br/>
            <input type="checkbox" id="list-private" name="list-private">
            <label for="list-private">Название</label><br/>
            <input type="submit" value="Создать">


        </form>
    </div>
{% endblock %}