{% extends "base.html" %}
{% block content %}
    <div class="form">
        <form action="" method="post">
            {% form.as_p %}
            <input type="submit" value="Создать">
        </form>
    </div>
{% endblock %}