{% extends "base.html" %}
{% block content %}
    <div class="targets">
        <ul>
            {% for target in target_list %}
                <p class="done{{ target.done }}"><a href="">target.title</a></p>
            {% endfor %}
        </ul>
        <a href="">Добавить цель</a>
    </div>
    {#    Отличается тем, что тут отображаются все цели, а не несколько первых #}
{% endblock %}