{% extends "base.html" %}
{% block content %}
    <div class="target">
        <div class="avatar_little">
            <a href=""><img src="" alt="{{ user.username }}"/></a>
        </div>
        <div class="username_little">
            {% if user.firstname and user.lastname %}
                <h6>{{ user.firstname }} {{ user.lastname }}</h6>
            {% else %}
                <h6>{{ user.username }}</h6>
            {% endif %}
        </div>
        <div class="about_target_little">
            <p class="title_target">Цель: <h1>{{ target.title }}</h1></p>
            <p class="theme_target">Тематика: {{ target.theme }}</p>
            <p class="target_description">{{ target.description }}</p>
        </div>
    </div>
    <div class="comments">
        {% for comment in comments %}
            <div class="user_block">
                <div class="avatar_little">
                    <a href=""><img src="" alt="{{ comment.user.username }}"/></a>
                </div>
                <div class="username_little">
                    {% if comment.user.firstname and comment.user.lastname %}
                        <h6>{{ comment.user.firstname }} {{ comment.user.lastname }}</h6>
                    {% else %}
                        <h6>{{ comment.user.username }}</h6>
                    {% endif %}
                </div>
                <div class="comment-text">
                    <p>{{ comment.comment.text }}</p>
                </div>
                <div class="star">

                </div>
            </div>
        {% endfor %}
    </div>
    {% if not commented %}
        <div class="comment-form">
            <form action="" method="post">
                <textarea name="comment-text">

                </textarea>
                <input type="submit" value="Комментировать">
            </form>
        </div>
    {% endif %}

{% endblock %}