{% extends "base.html" %}
{% block content %}
    <div class="today_targets">
        <h6>Цели на сегодня:</h6>
        <ul>
            {% for target in todaytargets %}
                <li><a href="">{{ target.title }}</a> </li>
            {% endfor %}
        </ul>
        <a href="">Добавить цель</a>
    </div>
    <div class="targetlists">
            <h2>Списки целей:</h2><br/>
            {% for target_list in target_lists %}
                <div class="targetlist">
                    <h5>{{ target_list.title }}</h5>
                    {% for target in target_list %}
                        <p class="done{{ target.done }}"><a href="">target.title</a> </p>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="targetlist">
                <h1><a href="">+</a></h1>
            </div>
    </div>
{% endblock %}