<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{% block title %} gTargets {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my.style.css' %}">
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    {% block for_staticfiles %}{% endblock %}
</head>
<body>
    {% block header %}
    <nav class="navbar navbar-inverse navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">gTargets</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'user:current_user' %}">Профиль</a></li>

                    <li><a href="{% url 'subscriptions:subscriptions' %}">Подписки</a></li>

                    <li><a href="">Новости</a></li>

                    <li><a href="">Цели</a></li>

                    <li><a href="">Поиск</a></li>

                </ul>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'auth:logout' %}">Exit</a></li>
                </ul>
            </div>
        </div>



    </nav>
    {% endblock %}

    {% block content %} {% endblock %}

    {% block footer %}
        <div class="navbar-fixed-bottom">
            <div class="navbar-inner">
                <div class="container">
                    <footer class="footer">
                            <p class="text-muted pull-left">gTargets, 2015</p>

                            <div class="pull-right">
                                <a href="">О сайте</a>
                                .
                                <a href="{% url "sitework:news" %}">Новости</a>
                                .
                                <a href="">Контакты</a>
                                .
                                <a href="">Популярные цели</a>
                                .
                                <a href="">Помощь</a>
                            </div>


                    </footer>
                </div>
            </div>
        </div>

    {% endblock %}
</body>
</html>