{% extends "base.html" %}
{% block content %}
    <div class="search-form">
        <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send">
        </form>
    </div>
    {% for user in users %}
        <div class="user_block">
            <div class="avatar_little">
                <a href=""><img src="" alt="{{ user.username }}"/></a>
            </div>
            <div class="username_little">
                {% if user.firstname and user.lastname %}
                    <h6>{{ user.firstname }} {{ user.lastname }}</h6>
                {% else %}
                    <h6>{{ user.username }}</h6>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}