<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} gTargets {% endblock %}</title>
</head>
<body>
    {% block header %}
    <div class="header">
        <img src="" alt="logo">
        <ul>
            <li><a href="">Профиль</a></li>

            <li><a href="">Подписки</a></li>

            <li><a href="">Новости</a></li>

            <li><a href="">Цели</a></li>

            <li><a href="">Поиск</a></li>

        </ul>
        <div class="exit"><a href="">Exit</a></div>
    </div>
    {% endblock %}

    {% block content %} {% endblock %}

    {% block footer %}
    <div class="footer">
        <p>gTargets, 2015</p>

        <ul>
            <li><a href="">О сайте</a></li>
            <li><a href="">Новости</a></li>
            <li><a href="">Контакты</a></li>
            <li><a href="">Популярные цели</a></li>
            <li><a href="">Помощь</a></li>
        </ul>

    </div>
{% endblock %}
</body>
</html>