{% extends "base.html" %}
{% block content %}
    {% for tn in targetnews %}
        <div class="user_block">
            <div class="avatar_little">
                <a href=""><img src="" alt="{{ tn.user.username }}"/></a>
            </div>
            <div class="username_little">
                {% if tn.user.firstname and tn.user.lastname %}
                    <h6>{{ tn.user.firstname }} {{ tn.user.lastname }}</h6>
                {% else %}
                    <h6>{{ tn.user.username }}</h6>
                {% endif %}
            </div>
            <div class="about_target_little">
                <p class="title_target_little">Поставил цель: <a href="">{{ tn.target.title }}</a></p>
                <p class="theme_target_little">Тематика: <a href="">{{ tn.target.theme }}</a></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}