{% extends "base.html" %}
{% block content %}
            <div class="news_block">
                <div class="avatar_little">
                    <a href=""><img src="" alt="Admin"/></a>
                </div>
                <div class="username_little">
                        <h6>Admin</h6>
                </div>
                <div class="news-item">
                    <p>{{ news.text }}</p>
                </div>
            </div>
            <div class="comments">
                {% for comment in newscomments %}
                        <div class="user_block">
                            <div class="avatar_little">
                                <a href=""><img src="" alt="{{ comment.user.username }}"/></a>
                            </div>
                            <div class="username_little">
                                {% if comment.user.firstname and comment.user.lastname %}
                                    <h6>{{ comment.user.firstname }} {{ comment.user.lastname }}</h6>
                                {% else %}
                                    <h6>{{ comment.user.username }}</h6>
                                {% endif %}
                            </div>
                            <div class="comment-text">
                                <p>{{ comment.comment.text }}</p>
                            </div>
                
                        </div>
                {% endfor %}
            </div>


{% endblock %}