{% extends "base.html" %}
{% block content %}
    <div class="news">
        {% for news in news_list %}
            <div class="news_block">
                <div class="news-item">
                    <p>{{ news.text }}</p>
                </div>
            </div>
            <div class="comments">
                {% for comment in news.newscomment_set.all.reverse|slice:":3" %}
                        <div class="user_block">
                            <div class="avatar_little">
                                <a href=""><img src="" alt="{{ comment.user.username }}"/></a>
                            </div>
                            <div class="username_little">
                                {% if comment.user.firstname and comment.user.lastname %}
                                    <h6>{{ comment.user.firstname }} {{ comment.user.lastname }}</h6>
                                {% else %}
                                    <h6>{{ comment.user.username }}</h6>
                                {% endif %}
                            </div>
                            <div class="comment-text">
                                <p>{{ comment.comment.text }}</p>
                            </div>

                        </div>
                {% endfor %}
                <a href="">Все</a>
            </div>
        {% endfor %}


    </div>
{% endblock %}