{% extends "base.html" %}
{% load staticfiles %}
{% block for_staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'subscriptions/css/subs.css' %}"/>
{% endblock %}
{% block content %}
    {% for profile in profiles %}
        <div class="user-block col-md-10">
            <div class="avatar_little col-md-2">
                {% if profile.avatar %}
                    <a href="{% url 'user:user_profile' user_id=profile.user.id %}">
                        <img src="{{ profile.avatar.url }}" alt="{{ profile.user.username }}" class="img"/>
                    </a>
                {% else %}
                    <a href="{% url 'user:user_profile' user_id=profile.user.id %}">
                        <img src="" alt="Avatar"/>
                    </a>
                {% endif %}
            </div>
            <div class="username_little col-md-2">
                {% if profile.user.firstname and profile.user.lastname %}
                    <h6>{{ profile.user.firstname }} {{ profile.user.lastname }}</h6>
                {% else %}
                    <h6>{{ profile.user.username }}</h6>
                {% endif %}
            </div>
            <div class="subscribe col-md-5">
                {% if profile in subscriptions %}
                    <a href="{% url 'subscriptions:unsubscribe' user_id=profile.user.id %}">Отписка</a>
                {% else %}
                    <a href="{% url 'subscriptions:subscribe' user_id=profile.user.id %}">Подписка</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}