{% extends "base.html" %}

{% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">gTargets</a>
            </div>

        </div>



    </nav>
{% endblock %}
{% block content %}
    <ul>
        {%for error in errors%}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>

    <div class="auth">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send">
        </form>
    </div>
    <div class="about">
        <h2>О сайте:</h2>
        <p>Some text</p>
    </div>
{% endblock %}