
{% if result %}
<table style="border:1px solid black;">
	<tr>
		{% for key in result.0%}
			<th>{{ key }}</th>
		{% endfor %}
	</tr>
	
	{% for d in result %}
	<tr>
		{% for item in d.iteritems %}
			<td>{{ item.1 }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% else %}
	{{error}}
{% endif %}